<!-- <div >
  <p>{{dictionary.word}}</p>
</div> -->
<p style="text-align: center; font-size: 30px; color: white; font-weight: bold; display: flex; justify-content: center; align-items: center; justify-items: center; height: 100%;">Dictionary</p>

<div class="container">
  <div class="body">
    <div class="inputs_btn">
      <input #inputs type="text" />
      <button (click)="submit(inputs.value)">Search</button>
    </div>

    <div class="words_data">
      <h2>{{dictionary.word}}</h2>
      <div class="simple_data">
        <p class="partofspeech">{{partOfSpeech}}</p>
        <p class="phonetics">{{dictionary.phonetic}}</p>
      </div>

      <div class="defination">
        <p>{{defination}}</p>
      </div>

      <div class="example">
        <p>{{example}}</p>
      </div>
    </div>
  </div>
</div>
<p style="text-align: center; font-size: 15px; color: white; font-weight: bold; display: flex; justify-content: center; align-items: center; justify-items: center; height: 100%;">This Project was Coded by <a target="_blank" href="https://a-samuel.netlify.app/">Akinyemi samuel</a> and is Open-sourced on <a target="_blank" href="https://github.com/Samfrosh">Github</a></p>
